faster-whisper
numpy
sounddevice
pynput
pyyaml
onnxruntime
transformers
huggingface_hub
scipy
aiofiles


# Optional: For GPU support, install torch + torchaudio manually
# pip install torch torchaudio -f https://download.pytorch.org/whl/cu118.html
